.bio{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #183041;
    background-color: 'grey';
}

.info{
	width: 40vw;
	border: 1px solid blue;
	marginRight: 20px;
}

.social{
	display: flex;
	padding: 5px;
}

.info2{
	border: 1px solid blue;
	display: flex;
	flexDirection: column;
	alignItems: flex-end;
}