.bio{
    // border: '1px solid red',
    display: 'flex';
    flexDirection: 'row';
    width: 1080%;
    borderBottom: '1px solid #183041';
    display: flex;
    flex-direction: column;
},

.info{
    width: "40vw",
    border: '1px solid blue',
    marginRight: '20px'
},

.info2{
    width: "30vw",
    border: '1px solid blue',
},